<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Agregar Película</h1>
    <br>
    <section class="formulario">
        <form action="/movies" method="POST">
            <label for="title">Title </label>
            <p><input type="text" name="title" id="" value="<%= locals.oldData ? oldData.title : null %>"></p>
            <% if (locals.errors && locals.errors.title) { %>
                <p style="color:red"><%= errors.title.msg %></p>
            <% } %>
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="" value="<%= locals.oldData ? oldData.rating : null %>" > </p>
            <% if (locals.errors && locals.errors.rating) { %>
                <p style="color:red"><%= errors.rating.msg %></p>
            <% } %>
            <label for="awards">Awards </label>
            <p><input type="number" name="awards" id="" value="<%= locals.oldData ? oldData.awards : null %>" ></p>
            <% if (locals.errors && locals.errors.awards) { %>
                <p style="color:red"><%= errors.awards.msg %></p>
            <% } %>
            <label for="release_date">Release date </label>
            <p><input type="date" name="release_date" id="" value="<%= locals.oldData ? oldData.release_date : null %>"></p>
            <% if (locals.errors && locals.errors.release_date) { %>
                <p style="color:red"><%= errors.release_date.msg %></p>
            <% } %>
            <label for="length">Length </label>
            <p><input type="number" name="length" id="" value="<%= locals.oldData ? oldData.length : null %>"></p>
            <% if (locals.errors && locals.errors.length) { %>
                <p style="color:red"><%= errors.length.msg %></p>
            <% } %>
            
            <select name="genre">
                <option selected>Seleccion el género</option>
                <% genre.forEach(genre => { %>
                 <option value="<%= genre.id %>"><%= genre.name %></option>
                <% }) %>
            </select>

            <br>

            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            </form>

            <br>

            <a href="/movies"><button>Volver al listado</button></a>

    </section>
    
</body>

</html>